.header {
  display: block;

  background-color: #030718;
}

.headerContainer {
  position: relative;
  /* min-width: 375px;
  max-width: 767px; */

  /* width: 100%; */
  width: 375px;
  margin: 0 auto;
}

.navMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 84px 16px 16px 16px;

  /* min-width: 375px;
  max-width: 767px; */

  width: 100vw;

  height: 100vh;

  background: #6a54ff;

  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
  z-index: 3;
}
.navMenu.open {
  transform: translateX(0%);
}

.logoLink {
  display: block;
}
.logo {
  width: 108px;
  height: 52px;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.navLink {
  color: var(--white, #fff);
  font-family: "IBM Plex Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 125% */
  text-transform: uppercase;
}

.navButtonContainer {
  display: flex;
  gap: 8px;
}

.buttonRegistration {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  border-radius: 3px;
  background: var(--Q, #57e1ff);
  box-shadow: 0px 0px 4px 0px #57e1ff;

  color: #030718;

  font-feature-settings: "ss04" on;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
}
.buttonLogin {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  border-radius: 3px;
  border: 2px solid var(--Q, #57e1ff);
  background: rgba(87, 225, 255, 0.2);
  box-shadow: 0px 0px 4px 0px #57e1ff;

  color: var(--Q, #57e1ff);

  font-feature-settings: "ss04" on;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
}

.burgerButton {
  position: absolute;

  top: 8px;
  right: 8px;
  z-index: 5;
}

@media (min-width: 1440px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headerContainer {
    width: 1440px;

    padding: 0 80px;
  }
  .logo {
    width: 131.829px;
    height: 64px;
    flex-shrink: 0;
  }
  .navMenu {
    position: relative;
    flex-direction: row;
    gap: 82px;
    justify-content: flex-end;

    padding: 0;

    max-width: 100%;

    background: transparent;
    height: auto;
    width: 100%;
    transform: none;
  }

  .navigation {
    display: flex;
    gap: 32px;
  }

  .navList {
    flex-direction: row;
    align-items: center;
  }

  .navListitem {
    margin: 25px 0;
  }

  .navLink {
    font-size: 14px;
    line-height: 17px;
  }

  .burgerButton {
    display: none;
  }

  .navButtonContainer {
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
  }

  .buttonLogin {
    display: inline-flex;
    padding: 11px 24px;

    border: 1.5px solid var(--borderColor, #57e1ff);
    font-size: 14px;
  }

  .buttonRegistration {
    display: inline-flex;
    padding: 11px 24px;
    font-size: 14px;

    border: 1px solid var(--Q, #57e1ff);
  }
}
